
/* body {
    min-height: 100vh;
    background-image: url('./subtle-prism.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiperimg {
    display: block;
    width: 100%;
    height: 350px;
    object-fit: contain;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 18px;
    border: none;
    z-index: 1;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 1;
}

.dropdown-content a:hover {
    background-color: rgba(221, 221, 221, 0.567);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 1;
}


.homeh3 {
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 5px green;
    text-emphasis-color: white;
}

.pdetail {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    padding: 10px;
    width: 30%;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 30px;
    font-size: 16px;
    text-align: center;
  }
  .proh1{
  
    text-align:center ;
    font-size: 30px;
    padding: 10px;
    margin:20px
  }
  .proimg{
    display: block;
    height: 200px;
    width:300px
  }
.frmofpro {
    text-align: center;
    margin: auto;
    margin-top: 250px;
}

.frmofpro input {
    display: block;
    margin: auto;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    text-align: center;
}

/* Userproduct */

/* .productMain{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.imageSection {
    width: 30%;
    height: 70%;
    display: flex;align-items: center; justify-content: center;
    flex-direction: column;
}

.imageSection .pd{
    height: 90%;
    border-radius: 5px;
}

.imageSection .varify{
    height: 60px;
    margin-top: -40px;
}

.detailSection{
    width: 40%;
    height: 60%;
    border: 2px solid rgb(130, 130, 130);
    border-radius: 5px;
    display: flex;justify-content: center; align-items: center;
}

.innersection{
    width: 90%;
    height: 90%;
    border-bottom: 40px solid rgb(63, 8, 8);
    border-top: 40px solid rgb(63, 8, 8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innersectionchild{
    width: 85%;
    height: 90%;
    color: rgb(63, 8, 8);
}
.innersectionchild span{
    color: rgb(96, 96, 96);
} */ 

body {
    min-height: 100vh;
     background-image: url('./subtle-prism.svg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  /* .pdetail {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */
  
  .swiperimg {
    display: block;
    width: 100%;
    height: 350px;
    object-fit: contain;
  }
  
  .dropbtn {
    color: white;
    padding: 16px;
    font-size: 18px;
    border: none;
    z-index: 1;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 1;
  }
  
  .dropdown-content a:hover {
    background-color: rgba(221, 221, 221, 0.567);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    z-index: 1;
  }
  
  
  .homeh3 {
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 5px green;
    text-emphasis-color: white;
  }
  
  
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width: 30%;
    margin-left:100px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 30px;
    font-size: 16px;
    text-align: center;
  }
  .proh1{
  
    text-align:center ;
    font-size: 30px;
    padding: 10px;
    margin:20px
  }
  .proimg{
    display: block;
    height: 200px;
    width:300px
   
  }
  .frmofpro {
    text-align: center;
    margin: auto;
    margin-top: 250px;
  }
  
  .frmofpro input {
    display: block;
    margin: auto;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    text-align: center;
  }
  
  
  
   .productMain{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .imageSection {
    width: 30%;
    height: 70%;
    display: flex;align-items: center; justify-content: center;
    flex-direction: column;
  }
  
  .imageSection .pd{
    height: 90%;
    border-radius: 5px;
  }
  
  .imageSection .varify{
    height: 60px;
    margin-top: -40px;
  }
  
  .detailSection{
    width: 40%;
    height: 60%;
    border: 2px solid rgb(130, 130, 130);
    border-radius: 5px;
    display: flex;justify-content: center; align-items: center;
  }
  
  .innersection{
    width: 90%;
    height: 90%;
    border-bottom: 40px solid rgb(63, 8, 8);
    border-top: 40px solid rgb(63, 8, 8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .innersectionchild{
    width: 85%;
    height: 90%;
    color: rgb(63, 8, 8);
  }
  .innersectionchild span{
    color: rgb(96, 96, 96);
  }